{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn bg-primary" id="corresponsal-btns">
    <a style="color: #FFFFFF">{{ button_label|default('Aceptar') }}</a>
</button>
{{ form_end(form) }}
