{% extends 'base.html.twig' %}

{% block title %}Edit EquipoCorresponsales{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Editar equipo de corresponsales</h1>

    {{ include('equipo_corresponsales/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <div class="row ">
        <ul style="margin-left: 15px; padding: 0">
            <div style="margin-top: 2px">{{ include('equipo_corresponsales/_delete_form.html.twig') }}</div>

            <button class="btn bg-primary" id="corresponsal-btns" style="margin-top: 3px; padding-left: 0">
                <a href="{{ path('equipo_corresponsales_index') }}" style="margin-left: 10px">Regresar</a>
            </button>
        </ul>
    </div>
{% endblock %}
