{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Editar equipo de corresponsales</h1>

    {{ include('equipo_corresponsales/_form.html.twig', {'button_label': 'Actualizar'}) }}

{% endblock %}
