{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Crear nuevo equipo de corresponsales</h1>

    {{ include('equipo_corresponsales/_form.html.twig') }}
    {% if alerta != null %}
        <br>
        <p class="alert alert-danger alert-dismissible text-justify">
            {{ alerta }}
        </p>
    {% endif %}

{% endblock %}
