{% extends 'base.html.twig' %}

{% block title %}New EquipoCorresponsales{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Crear nuevo equipo de corresponsales</h1>

    {{ include('equipo_corresponsales/_form.html.twig') }}
    <button class="btn bg-primary" id="corresponsal-btns" style="margin-top: 2px">
    <a href="{{ path('equipo_corresponsales_index') }}">Regresar</a>
    </button>
{% endblock %}
