<form method="post" action="{{ path('g_m_s_r_f_i_d_usuario_delete', {'id': g_m_s_r_f_i_d_usuario.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ g_m_s_r_f_i_d_usuario.id) }}">
    <button class="btn">Delete</button>
</form>
