{% extends 'base.html.twig' %}

{% block title %}New GMSRFIDUsuario{% endblock %}

{% block contenido %}
    <h1>Create new GMSRFIDUsuario</h1>

    {{ include('g_m_s_r_f_i_d_usuario/_form.html.twig') }}

    <a href="{{ path('g_m_s_r_f_i_d_usuario_index') }}">back to list</a>
{% endblock %}
