{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    <h1>Create new GMSRFIDUsuario</h1>

    {{ include('g_m_s_r_f_i_d_usuario/_form.html.twig') }}
<button class="btn bg-primary" id="general-btns">
    <a href="{{ path('g_m_s_r_f_i_d_usuario_index') }}">Regresar</a>
</button>
{% endblock %}
