{% extends 'base.html.twig' %}

{% block title %}Edit LecturasCsv{% endblock %}

{% block body %}
    <h1>Edit LecturasCsv</h1>

    {{ include('lecturas_csv/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lecturas_csv_index') }}">back to list</a>

    {{ include('lecturas_csv/_delete_form.html.twig') }}
{% endblock %}
