{% extends 'base.html.twig' %}

{% block title %}Edit CumplimientoPlan{% endblock %}

{% block body %}
    <h1>Edit CumplimientoPlan</h1>

    {{ include('cumplimiento_plan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cumplimiento_plan_index') }}">back to list</a>

    {{ include('cumplimiento_plan/_delete_form.html.twig') }}
{% endblock %}
