{% extends 'base.html.twig' %}

{% block title %}New CumplimientoPlan{% endblock %}

{% block body %}
    <h1>Create new CumplimientoPlan</h1>

    {{ include('cumplimiento_plan/_form.html.twig') }}

    <a href="{{ path('cumplimiento_plan_index') }}">back to list</a>
{% endblock %}
