<form method="post" action="{{ path('corresponsal_delete', {'id': corresponsal.id}) }}" onsubmit="return confirm('Desea borrar este corresponsal?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ corresponsal.id) }}">
    <button class="btn bg-primary">
        <a style="color: #FFFFFF">Borrar</a>
    </button>
</form>
