{% extends 'base.html.twig' %}

{% block title %}Edit Corresponsal{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Edit Corresponsal</h1>

    {{ include('corresponsal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('corresponsal_index') }}">back to list</a>

    {{ include('corresponsal/_delete_form.html.twig') }}
{% endblock %}
