{% extends 'base.html.twig' %}

{% block title %}Edit Corresponsal{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Editar Corresponsal</h1>

    {{ include('corresponsal/_form.html.twig', {'button_label': 'Actualizar'}) }}




    <div class="row ">
        <ul style="margin-left: 15px; padding: 0">
            <div style="margin-top: 2px">{{ include('corresponsal/_delete_form.html.twig') }}</div>

            <button class="btn bg-primary" id="corresponsal-btns" style="margin-top: 3px; padding-left: 0">
                <a href="{{ path('corresponsal_index') }}" style="margin-left: 10px">Regresar</a>
            </button>
        </ul>
    </div>
{% endblock %}
