{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Nuevo Corresponsal</h1>

    {{ include('corresponsal/_form.html.twig') }}

    <button class="btn bg-primary" id="corresponsal-btns" style="margin-top: 2px">
    <a href="{{ path('corresponsal_index') }}">Regresar</a>
    </button>
{% endblock %}
