{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <h1>Create new Rol</h1>

    {{ include('rol/_form.html.twig') }}
<button class="btn bg-primary" id="corresponsal-btns">
    <a href="{{ path('rol_index') }}">Regresar</a>
</button>
{% endblock %}
