<form method="post" action="{{ path('historial_lectores_delete', {'id': historial_lectore.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ historial_lectore.id) }}">
    <button class="btn">Delete</button>
</form>
