{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Editar país de correspondencia</h1>

    {{ include('pais_correspondencia/_form.html.twig', {'button_label': 'Actualizar'}) }}

{% endblock %}
