{% extends 'base.html.twig' %}

{% block title %}Edit PaisCorrespondencia{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Pais de correspondencia</h1>

    {{ include('pais_correspondencia/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pais_correspondencia_index') }}">Regresar</a>

    {{ include('pais_correspondencia/_delete_form.html.twig') }}
{% endblock %}
