{% extends 'base.html.twig' %}

{% block title %}New PaisCorrespondencia{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Crear nuevo país de correspondencia</h1>

    {{ include('pais_correspondencia/_form.html.twig') }}
<button class="btn bg-primary" id="corresponsal-btns" style="margin-top: 3px">
    <a href="{{ path('pais_correspondencia_index') }}">Regresar</a>
</button>
{% endblock %}
