{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Crear nuevo país de correspondencia</h1>

    {{ include('pais_correspondencia/_form.html.twig') }}

{% endblock %}
