{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block style %}
    .content { overflow-x: hidden; width: 100%; font: 12px/1.5 sans-serif; }
    .content code { background: #F5F5F5; padding-top: 5px; padding-bottom: 80px; }
{% endblock %}

{% block contenido %}
    {{ parent() }}

    <br>
    <div class="content" align="center">
        <h1>Bienvenid@</h1>

        {#información para mostrar sobre retrasos#}
        <p class="alert alert-danger alert-dismissible text-justify">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Hace 2 días debió importar el plan de imposición
        </p>
        <p class="alert alert-primary alert-dismissible text-justify">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Hoy debe importar el cumplimiento del plan de imposición
        </p>




        <table class="table-info">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <br>

{% endblock %}