{% extends 'base.html.twig' %}

{% block title %}New Importaciones{% endblock %}

{% block contenido %}
    <h1>Crear nuevas importaciones</h1>

    {{ include('importaciones/_form.html.twig') }}
<button class="btn bg-primary" id="corresponsal-btns" style="margin-top: 3px">
    <a href="{{ path('importaciones_index') }}">Regresar</a>
</button>
{% endblock %}
