{% extends 'base.html.twig' %}

{% block title %}New PlanDeImposicion{% endblock %}

{% block body %}
    <h1>Create new PlanDeImposicion</h1>

    {{ include('plan_de_imposicion/_form.html.twig') }}
<button class="btn bg-primary" id="corresponsal-btns">
    <a href="{{ path('plan_de_imposicion_index') }}">Regresar</a>
</button>
{% endblock %}
