{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Editar sitio</h1>

    {{ include('sitio_lector/_form.html.twig', {'button_label': 'Actualizar'}) }}

{% endblock %}
