{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Editar Lector</h1>

    {{ include('lector/_form.html.twig', {'button_label': 'Actualizar'}) }}

{% endblock %}
