{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Crear Lector</h1>

    {{ include('lector/_form.html.twig') }}

{% endblock %}
