<form method="post" action="{{ path('region_mundial_delete', {'id': region_mundial.id}) }}" onsubmit="return confirm('Desea borrar esta región?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ region_mundial.id) }}">
    <button class="btn bg-primary">
        <a style="color: #FFFFFF">Borrar</a>
    </button>
</form>
