{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Crear nueva tarifa postal</h1>

    {{ include('region_mundial/_form.html.twig') }}

{% endblock %}
