{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Crear nueva tarifa postal</h1>

    {{ include('region_mundial/_form.html.twig') }}

<button class="btn bg-primary" id="corresponsal-btns" style="margin-top: 3px">
    <a href="{{ path('region_mundial_index') }}">Regresar</a>
</button>
{% endblock %}
