<form method="post" action="{{ path('borrado_propio_delete', {'id': borrado_propio.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ borrado_propio.id) }}">
    <button class="btn">Delete</button>
</form>
