{% extends 'base.html.twig' %}

{% block title %}Hello PlanImposicionCSVController!{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h3>Importar nuevo plan de imposición</h3>
    <br>
    <h5>EL documento se importó correctamente</h5>

{% endblock %}