{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h3>{{ encabezado }}</h3>
    <br>
    <h5>EL documento se importó correctamente</h5>


{% endblock %}