{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Editar provincias de Cuba</h1>

    {{ include('provincia_cuba/_form.html.twig', {'button_label': 'Actualizar'}) }}

{% endblock %}
