{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Crear nueva provincia de Cuba</h1>

    {{ include('provincia_cuba/_form.html.twig') }}

{% endblock %}
