{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Crear nueva provincia de Cuba</h1>

    {{ include('provincia_cuba/_form.html.twig') }}
    <button class="btn bg-primary" id="corresponsal-btns" style="margin-top: 2px">
        <a href="{{ path('provincia_cuba_index') }}">Regresar</a>
    </button>
{% endblock %}
